ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
    
  }

  div.split-3 div{
    float: left;
    width: 29%;
    width: 33%;
    width: 29%;
    padding: 0 2%;

  }

  p.principale {
      color: black;
      font-size: larger;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      align-items: center;
      align-self: center;
      text-align: center;
      display: block;
  }

  p.video {
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }

  table {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
  }

  button.btnCentered {
    margin: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

  }

  #grid {
    background-color: black;
    color: #DDDDDD;
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  #grid TR TD{
    border:1px solid white;
    background: #999999;
    width: 16px;
    height: 16px;
    text-align: center;
  }
  
  #grid TR TD.clicked {
      color: white;
      background: #333333;
  }
  
  #grid TR TD.mine {
      background: #FF0000;
  }

  footer{
    padding-top: 8%;
    color: #868e96;
    text-align: center;
  }