ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: right;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

  p.principale {
      color: black;
      font-size: larger;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      align-items: center;
      align-self: center;
      text-align: center;
      display: block;
  }

  p.video {
    align-items: center;
    align-self: center;
    text-align: center;
    display: block;
  }

  table {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: large;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 30px;
  }

  button.btnCentered {
    margin: 0;
    position: absolute;
    margin-left: auto;
    margin-right: auto;

  }

  /* 3*3 Grid */
  #b1, #b2, #b3, #b4, #b5, 
  #b6, #b7, #b8, #b9 {
      width: 80px;
      height: 52px;
      margin: auto;
      border: 1px solid gray;
      border-radius: 6px;
      font-size: 30px;
      text-align: center;
  }

  /* Reset Button */
  #but {
      box-sizing: border-box;
      width: 95px;
      height: 40px;
      border: 1px solid dodgerblue;
      margin: auto;
      border-radius: 4px;
      font-family: Verdana, 
          Geneva, Tahoma, sans-serif;

      background-color: dodgerblue;
      color: white;
      font-size: 20px;
      cursor: pointer;
  }

  /* Player turn space */
  #print {
      font-family: Verdana, 
          Geneva, Tahoma, sans-serif;

      color: dodgerblue;
      font-size: 20px;
  }

  /* Main Contianer */
  #main {
      text-align: center;
  }

  /* Game Instruction Text */
  #ins {
      font-family: Verdana, 
          Geneva, Tahoma, sans-serif;
            
      color: dodgerblue;
      font-size: 17px;
  }